.select {
  font-family: inherit;
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 10px;
  background-color: #e8dcc9;
  border-color: #e8dcc9;
  color: #4b1d10;
}

.select:hover {
  color: #ff8732;
}
